/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* .image-card:hover .image-card-text {
    --tw-bg-opacity: 1;
    background-color: rgba(239, 68, 68, var(--tw-bg-opacity));
    color: white;
} */

