/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.center-if-single-line {
    text-align: left;
    display: inline-block;
}

.vertical-mid-line {
    background: linear-gradient(#000, #000) no-repeat center/1px 100%;
}

.image-card:hover .image-card-text {
    @apply text-white from-red-600 via-red-500 to-pink-500 !important;
}

.image-card:hover::after {
    position: absolute;
    content: "";
    width: 100%;
    top: 0;
    left: 0;

    /* Bottom is positioned to cover the area the hovered element is leaving */
    bottom: -1em;

    /* We need to place the pseudo-element under everything else. Without 
       specifying the placement, it will sit on top of the parent element (our card)
       and block the user from selecting text or clicking links */
    z-index: -1;
}
